- var count = 20

#app.app
  #task
    span#a a
    span &nbsp;+&nbsp;
    span#b b
    span &nbsp;=&nbsp;
    span#res ?
      input(id='res_input' class='hidden' maxlength='2')
  .bg
    #ruler
      - for (var x = 0; x <= count; x++)
        span(id= 'sm_' + x)
          .number= x